{% extends 'admin/menu.html' %}
{% block content %}

{% if jobs %}
<div class="page-body">
    <div class="row">
        {% for j in jobs %}
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{j[3]}}</h5>
                    <span>Ward : {{j[4]}}</span>
                </div>
                <h3 class="text-center">{{j[1]}}</h3>
                <div class="card-block">
                    <p>
                        {{j[2]}}
                    </p>
                </div>
                <div class="text-right p-2">
                    <button class="btn btn-primary btn-sm"
                    onclick="location.href='/admin/jobs/edit/{{j[0]}}/'">Edit</button>
                    {% if j[7] == 1 %}
                    <button class="btn btn-danger btn-sm"
                        onclick="location.href='/admin/job/0/{{j[0]}}/'">Disable</button>
                    {% elif j[7] == 0 %}
                    <button class="btn btn-success btn-sm"
                        onclick="location.href='/admin/job/1/{{j[0]}}/'">Enable</button>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h2 class="text-danger text-center">No Jobs To Show</h2>
{% endif %}
{% endblock %}